/*#323637 onix
#e98136 naranja
#8ccfe3 celeste
#75ae47 verde oscuro
#bfdb7f verde claro
#efc66c arena rgba(239, 198, 108
#E5E0DE Platino
{{}} */



section {

    margin-top: 40px;
    padding: 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;


}

.formulario {
    width: 50%;
    margin: 0 auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgba(239, 198, 108, 0.7);
    /* 0.7 = 70% opacity */


}

input,
textarea {
    display: block;
    width: 90%;
    padding: 10px;
    margin: 10px auto;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    font-family: 'Courier New', Courier, monospace;
}

.OpcionesContacto {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    /* separación entre tarjetas */
    margin-top: 30px;
}

.OpcionesContacto div {
    flex: 1;
    /* todas las tarjetas ocupan el mismo ancho */
    margin: 10px;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
}

button {
    display: block;
    /* que ocupe toda la línea */
    width: 50%;
    /* ancho relativo */
    margin: 15px auto;
    /* centrado horizontal */
    padding: 12px 20px;
    /* espacio interno */
    background-color: #bfdb7f;
    /* verde principal */
    color: #323637;
    /* texto blanco */
    font-size: 1.1em;
    /* tamaño de texto */
    font-family: 'Courier New', Courier, monospace;
    border: none;
    /* sin borde por defecto */
    border-radius: 8px;
    /* bordes redondeados */
    cursor: pointer;
    /* cambia el puntero al pasar */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    /* sombra ligera */

}

/* efecto al pasar el mouse */
button:hover {
    background-color: #75ae47;
    /* verde más oscuro */
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
}