/* and */
/* Paleta
#323637 onix
#1D3557 barkley blue
#455F78 payne gray
#95BFB9 Cambridge Blue 
#E5E0DE Platino
{{}} */


 body{
    margin: 0 auto;
    font-family: 'Courier New', Courier, monospace;
    background-color: #95BFB9;
                
                
            }

/* Header */
 header{
    background-color:#1D3557;
    color:#E5E0DE;
    text-align: center; 
    padding:1px; 
   

    }
 header h1  {
    font-size:3em;
    padding: 1px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
     }

 header ul  {
  list-style: none;
  margin: 1px;
  display:flex;
  justify-content:space-around;
  
     }


 header  li a {
    font-size:1.5em;
    color:#E5E0DE;
    text-decoration: none;
    padding:1px; 
     }

 main {
    padding: 2px;
    margin: 2px;
    justify-content: center;
    text-align: center;
    
}
main h2 {
    color:#1D3557;
    font-size: 1.7em;
    }

 main p {
    color:#323637;
    font-size: 1.2em;
    text-indent: 11px;
    }
main a {
    color:#1D3557;
    text-decoration: none;
    font-size: 1.2em;
    }
main ul {
    list-style: none;
    margin: 1px;
    
    
       }

footer {
    background-color:#323637;
    color:#E5E0DE;
    text-align: center; 
    padding:1px; 
    font-size: 1em;
    position:fixed;
    width: 100%;
    left:0;
    bottom: 0;
    }   

/* font

line-height: 1.5; altura para parrafo

border-radius: 29px; borde para botones
*/


